:root {
    --primaryColor: #9356DC;
    --secondaryColor:#FF79DA;
    --tertiaryColor:#99E2D0;
    --lightGreyColor:#F6F6F6;
    --darkGreyColor:#EAEAEA;
}
html {
    background-color:transparent;
    display: flex;
    flex-direction: column;
  }
  * {
    box-sizing: border-box;
  }
                                                              /* -----ECRITURE---Début---*/
  @font-face {
    font-family: "Roboto";
    src: url("/Roboto/Roboto-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "Shrikhand";
    src: url("/Shrikhand/Shrikhand-Regular.ttf") format("truetype");
  }
  body {
    padding:0;
  }
  h1,
  h2,
  h3,
  h4 {
    font-family: 'Shrikhand', cursive;
  }
  h1 {
    margin: 0;
    box-shadow: 10px 20px 3px black; 
  }
 h1 img {
    display: block;
    max-width: 50%;
    margin: 15px auto 15px auto;
    justify-content: center;
  }
  h2 {
    font-size: 1rem;
  }
  .h-two /* prend certaines caracteristique du H2 sans le sémantique  */ {
    font-weight: 600;
    font-size: 1.5rem;
  }
  .font-weight-300 {
    font-weight:300;
  }
  .font-weight-500 {
    font-weight:500;
  }
  p,
  a,
  li,
  ul {
    font-family: 'Roboto', sans-serif;
  }
                               /* -----ECRITURE---fin---*/
  ul,
li {
  list-style-type: none;
}
a {
    text-decoration: none;
}
i {
    width: 14px;
}
                                            /* --------------SEMANTIQUE ---------------- */ 
  header, main, footer {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  main {
    background-color: var(--lightGreyColor)
  }
  footer {
    background-color: #353535;
    color: white;
  }
                      /* -----------------------------------BOUTONS--Début----------------------------BOUTONS--Début--------------  */
  .commander__bouton {
    border:0;
    border-radius: 30px;
    padding: 15px 20px 15px 20px;
    background-image:linear-gradient(to bottom, var(--secondaryColor) 0%, var(--primaryColor) 100%) ;
    color:white;
    font-family: 'Roboto';
    margin-top:10px ;
    box-shadow: 0px 2px 5px Grey;
  }
                                                /* -------Fonctionnement Bouton---début----*/
  .fonctionnement__bouton {
    background-color: var(--lightGreyColor);
    width: 90%;
    height: 70px;
    border:0;
    border-radius: 20px;
    padding:  0;
    margin: 0 auto 20px auto;
    font-family: 'Roboto';
   display: flex;
   box-shadow: 0px 5px 4px lightgray;  
}
.fonctionnement__bouton--nombre {
    width: 12.5%;   
    display: flex;
    align-items: center;
}
.fonctionnement__bouton__cercleViolet {
    border-radius: 30px;
    background-color: var(--primaryColor);
    color: white;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight:400;
    position: relative;
    left: -12px;
}
 .fonctionnement__bouton--icon {
    width: 12.5%; 
    display: flex; 
}
.fonctionnement__bouton i {
    display: flex;
    margin: auto;
    justify-content: center;
    align-self: center; 
}
.fonctionnement__bouton--p {
        min-width: 50%; 
        display: flex;
        justify-content: center;
        align-items: center;  
        font-weight: 500;     
}
                            /* -------Fonctionnement Bouton---fin----*/
                            /* -------CARD--------- début------------*/
 .card {
    width: 90%;
    margin: 10px 0 10px 0;
    border-radius: 20px;
    
 }
.headCard {
    width: 100%;
    height: 170px;
    background-color: aqua;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.headCard > img {
    height: 170px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
}
.bodyCard {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 5px 4px lightgray; 
} 
.infoCard {
    display: flex;
flex-direction: column;
    justify-content: flex-start;
    padding-left: 20px;
    border-bottom-left-radius: 20px;
} 
.infoCardTitre  {
    font-weight: 500;
    font-size: 1.1rem;
    margin: 12px 0 4px 0;
}
.infoCardLieu {
    margin:4px 0 12px 0
}
.bodyCard__i {
    margin-right: 25px;
    align-self: center;
}                                          
                                                        /* ---------- HEADER ---------- */    
 
  header div {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    background-color: var(--darkGreyColor);
    box-shadow: inset 0px 2px 3px lightGrey;
  }
  header i {
    margin: auto 10px auto 0;
  }
                                                                       /*---------  MAIN--------- */
  .mainHead  {
    padding:5px 13% 50px 13%;
    justify-content: center;
    text-align: center;
}
.fonctionnement {
    background-color: white;
    padding: 20px 0 20px 0;   
}
.restaurant {
    background-color: var(--lightGreyColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px 0 50px 0;
}
.restaurant .commeUnTitre {
    margin-right: auto;
}
.commeUnTitre {
    margin: 25px 0 25px 20px;
    font-size: 1.4rem;
    font-weight: 600;
}
                                                                        /* --------- FOOTER  ---------  */ 
  footer h2 {
    margin: 20px 0 10px 20px;
  }
  footer p, footer a {
    margin: 12px 0 0 20px;
  }
  footer i {
    margin-right: 3px; 
  }
  footer a {
   color: white;
   margin-bottom: 25px;
  }